
body {
   background-color: lightblue;
 }
td {
  padding: 15px;
 }
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
} 
.btn.btn3 {
    background: #8c58f4;
    margin-top: 30px;
    transition: background 0.5;
    

}

.btn.btn3:hover {
    background: #02904b;
}
.contact-right form {
    width: 100%;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #5f84fc;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
    transition: color 0.5s;
}

.copyright i:hover {
    color: #fff;
}

nav .fas {
    display: none;
}